<table class="table">
	<thead>
		<tr>
		  	<th>コメント一覧</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% book_comments.each do |bookcomment| %>
		<tr>
			<td><%= bookcomment.comment %></td>
  			<td><% if bookcomment.user == current_user %>
	  				<%= link_to "削除",book_book_comment_path(book_id:book,id:bookcomment), method: :delete, remote: true %>
	 			<% end %>
		  	</td>
		</tr>
	<% end %>
	</tbody>
</table>



<%= form_with model: [book, book_comment] do |f| %>
    <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    <%= f.submit "送信", class: "pull-right" %>
<% end %><br>
