<div class="body">
  <div class="container">
    <p id="notice"></p>
    <div class="row">
      <h2>User info</h2>
      <% if @user.errors.any? %>
        <div class="alert alert-warning">
          <h2><%= @user.errors.count %>error prohibited this obj from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
        </div>
      <% end %>

    <%= form_for(@user) do |f| %>
    <!-- @book=Book.new＝＞createアクションで定義した空箱 -->
      <h4>Name
      	<%= f.text_field :name %>
      </h4>
      <!-- 空箱にtitleが登録されている -->
      <h4>Image</h4>
      <%= f.attachment_field :profile_image %>
      <!-- 空箱にbodyが登録されている -->
      <h4>Introduction
      	<%= f.text_area :introduction %><br><br>
      </h4>

      <%= f.submit 'Update User' %>

    <% end %>
    </div>
  </div>
</div>


