<h3>User info</h3>

<%= form_for(@user) do |f| %>
<!-- @book=Book.new＝＞createアクションで定義した空箱 -->
<h4>Name</h4>
<%= f.text_field :name %>
<!-- 空箱にtitleが登録されている -->
<h4>Image</h4>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
<!-- 空箱にbodyが登録されている -->
<h4>Introduction</h4>
<%= f.text_area :introduction %><br><br>

<%= f.submit 'Create Book' %>

<% end %>
