      <h2>User info</h2>
      <%= attachment_image_tag user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
         </tr>
         <tr>
           <th>follows</th>
           <th><%= link_to user.active_relationships.count,follows_user_path(id:user.id) %></th>
         </tr>
         <tr>
           <th>followers</th>
           <th><%= link_to user.passive_relationships.count,followers_user_path(id:user.id) %></th>
         </tr>
        </tbody>
      </table>
          <% if user != current_user %>
            <% if user.following?(current_user) %>
              <p><%=link_to "フォロー外す", user_relationships_path(user), method: :delete %></p>
            <% else %>
              <p><%=link_to "フォローする", user_relationships_path(user), method: :post %></p>
            <% end %>
          <% else %>
            <div class="row">
              <%= link_to "", edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
            </div>
          <% end %>

      <h2>New book</h2>
      <%= form_for book do |f| %>
      <!-- @book=Book.new＝＞createアクションで定義した空箱 -->
        <div class="field row">
          <h4>Title</h4>
          <%= f.text_field :title, class:"col-xs-12" %>
          <!-- 空箱にtitleが登録されている -->
        </div>
        <div class="field row">
          <h4>Opinion</h4>
          <%= f.text_area :body,class: "col-xs-12 book_body" %><br><br>
          <!-- 空箱にbodyが登録されている -->
        </div>
        <div class="field row">
          <%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
        </div>
      <% end %>