<div class="body">
  <div class="container">
    <p id="notice"></p>
    <div class="row">
      <div class="col-xs-3">
<%= flash[:notice] %><%= flash[:success] %>
<!-- User info -->
<!-- New book -->
<%= render 'books/list', book: @book, user: @user %>
      </div>

      <div class="col-xs-9">
        <h2>Book detail</h2>
          <table class="table">
  	        <thead>
		      <tr>
		      	<th></th>
		      	<th></th>
		      	<th></th>
		      	<th></th>
		      	<th></th>
		      	<th></th>
		      </tr>
	        </thead>
		    <tbody>
		      <tr>
                <td>
                	<%= link_to user_path(@user) do %>
				    <%= attachment_image_tag @user, :profile_image, class: "img-circle profile-thumb", fallback: "no_image.jpg", size: "60x60" %><br>
				    <%= @user.name %>
				    <% end %>
			    </td>
			    <td>
			    	<%= link_to book_path(@bookf) do %>
				    <%= @bookf.title %>
				    <% end %>
			    </td>
			    <td>
			    	<%= @bookf.body %>
			    </td>
			    <td>
			    	<!-- いいね機能 -->
			    	<div id="favorite_btn_<%= @bookf.id %>"><!-- コントローラーで定義している@bookfを定義 -->
			    		<%= render partial: 'favorites/favorite', locals: { book: @bookf} %>
			    	</div>
				    <!-- いいね機能 -->
			    </td>
			    <td>
			    	<!-- コメント件数表示 -->
			    	<p class="comment-count">コメント数：<%= @bookf.book_comments.count %></p>
                    <!-- コメント件数表示 -->
			    </td>
			    <td>
			    	<% if @bookf.user == current_user %>
				    <%= link_to "Edit",edit_book_path(@bookf), class: "btn-sm btn-success" %>
				</td>
			    <td>
			    	<%= link_to "Destroy",book_path(@bookf), method: :delete, data: {confirm: "本当に消しますか？"} ,class: "btn-sm btn-danger" %>
			    </td>
			  <tr>
			<% end %>
	        </tbody>
          </table>

		  <!-- コメント一覧 -->
		  <!-- コメント投稿 -->
           <div id="comment_box"><!-- コントローラーで定義している@bookを定義 -->
			<%= render partial: 'book_comments/comment', locals: { book: @bookf, book_comment: @book_comment, book_comments: @book_comments} %>
		  </div>
          <!-- コメント一覧 -->
          <!-- コメント投稿 -->
      </div>
     </div>
  </div>
</div>