<!DOCTYPE html>
<html>
<head>
<title>Bookers</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header class= "navbar navbar-fixed-top navbar-inverse">
  <div class= "container">
    <nav class= "nav navbar-nav navbar-left">
      <span>Bookers</hspan>
    </nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li>
          <%= link_to " Home", user_path(current_user), class: "glyphicon glyphicon-home" %>
        </li>
        <li>
          <%= link_to " Users", users_path, class: "glyphicon glyphicon-user" %>
        </li>
        <li>
          <%= link_to " Books", books_path, class: "glyphicon glyphicon-book books" %>
        </li>
        <li>
          <%= link_to " logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %>
        </li>
        <% else %>
        <li>
          <%= link_to " Home", root_path, class: "glyphicon glyphicon-home" %>
        </li>
        <li>
          <%= link_to " About", home_about_path, class: "glyphicon glyphicon-link about" %>
        </li>
        <li>
          <%= link_to " sign up", new_user_registration_path, class: "glyphicon glyphicon-edit sign_up" %>
        </li>
        <li>
          <%= link_to " login", new_user_session_path, class: "glyphicon glyphicon-log-in sign_in" %>
        </li>
         <% end %>
       </ul>
  </div>
</header>
<main>
  <!-- 検索フォーム -->
  <%= form_with url: search_path, method: :get, local: true do |f| %><!-- form_withは架空のカラムを使用する際に使用。情報を送信するためのヘルパーメソッド※form_forはデータを保存する必要がある時 ※form_tagはフォームに入力されたデータを保存する必要がない時 -->
    <%= f.text_field :search, placeholder: "検索ワードを入力" %>
    <!-- 検索ワードを入力を入力するための架空カラム -->
    <%= f.select :genre, [["User", "user"], ["Book", "book"]] %>
    <%= f.select :direction, [["完全一致","完全一致"], ["前方一致", "前方一致"], ["後方一致", "後方一致"], ["部分一致","部分一致"]] %>
    <!-- 配列[[ 選択肢の表示名1, 実際に送信されるデータ1 ], [ 選択肢の表示名1, 実際に送信されるデータ2 ]] -->
    <%= f.submit "検索" %>
  <% end %>
  <!-- 検索フォーム -->
</main>

<%= yield %>

<footer class="footer">
<div class= "container">
  <div class= "row">
    <div class= "col-xs-3 col-xs-offset-9">
      <p>CopyRight Infratop.inc</p>
    </div>
  </div>
</div>
</footer>

</body>
</html>
